.swiper-pagination-bullet {
  background-color: #D7D7D7;
  opacity: 1;
  width: 18px;
  height: 18px;
 
}
.swiper-pagination-bullet-active {
  background-color: #ed3e3e;
}

.swiper-pagination {
  position: static;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  margin-top: 40px;
}