@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap"); */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo";
}

.heading {
  @apply md:text-[82px] text-[50px] font-bold;
}

.subText {
  @apply text-lg font-normal;
}
.font-width{
  font-weight: 500;
}
.margin{
  margin-top: -auto;
}